body{
    text-align:center;
}
#sentence_2{
    color:#fff;
    display:inline-block;
    background-image:linear-gradient(90deg, #0bd, #0bd 50%, #fff 50%, #fff);
    background-size:200% 100%;
    padding: .5rem 1rem;
}
#sentence_3{
    background:#0bd;
    color:#fff;
    display:inline-block;
    padding: 6rem 3rem;
    border-radius:50%;
}